@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');

:root {
  --color-1: #eeeeee;
  --color-2: #cce5cc;
  --color-3: #ccccff;
  --color-4: #5ac2b1;
  --color-5: #ffd27f;
}


html {
  /* --top-spacing: 10vh;
  scroll-padding-top: var(--top-spacing);*/
} 

body {
  /* margin: var(--top-spacing) auto; */
  width: 100vw;
  max-width: 100vw;
  height: auto;
  background-color: #eeeeee;
  /* top: 0;  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fixed {
  position: fixed;
  flex: 0;
  width: 100vw;
  font-family: "Lobster";
  background-color: var(--color-3);
}

header {
  top: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5vw;
}

.logo {
  margin: 0 2vw;
  flex: 2;
  text-shadow: 7px 7px 10px grey;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.nav {
  margin: 0 4vw;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-link {
  margin: 1vw 1vw;
  font-size: 1.6vw;
  text-decoration: none;
  text-shadow: 5px 5px 2px grey;
}

.nav-link:hover {
  text-shadow: -1px -1px 10px grey;
}

#heading {
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 18px;
  /* line-height: 1px; */
  font-size: 35px;
  font-weight: bold;
}

#heading:hover {
  background-color: transparent;
  animation: text 2s ease-in-out forwards;
}

@keyframes text {
  100% {
    transform: text scale(1.5);
    color: rgb(243, 192, 218);
    text-shadow: -4px -4px 7px grey;
    
  }
}

#heading:active{
  color: grey;
  font-style: italic;
}

.container{
  flex: 1;
  margin: 20px 0;
  width: 100vw;
  font-family: "Asap";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#home1 {
  flex-basis: 90vh;
  width: 80vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home1 p {
  font-size: 25px;
  font-family: "Comfortaa";
  font-weight: 800;
}

#about1{
  flex-basis: 100vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about1 img{
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 25px;
  padding: 5px;
}

#about1 h2{
  margin: 0;
  font-size: 2em;
  text-align: center;
  font-family: "Comfortaa";
  font-weight: 900;
}

#about1 p {
  margin: 0;
  font-size: 1.2em;
  text-align: center;
}

#social-links{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 8vw;
  margin-right: 8vw;
}

.fa {
  padding: 15px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin-left: 2vw;
  margin-right: 2vw;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-github {
  background: #06322b;
  color: white;
}

.fa-google {
  background: #cb2027;
  color: white;
}

#photograph1{
  flex-basis: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
}

.heading{
  text-align: center;
  font-family: "tahoma";
  flex: 0;
}

.div-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

div.polaroid {
  flex: 0 1 44%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  margin: 1vw;
}

div.content {
  text-align: center;
  padding: 10px 20px;
}

#myImg, #myImg1, #myImg2, #myImg3, #myImg4, #myImg5, #myImg6 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

#myImg1:hover {
  opacity: 0.7;
}

#myImg2:hover {
  opacity: 0.7;
}

#myImg3:hover {
  opacity: 0.7;
}

#myImg4:hover {
  opacity: 0.7;
}

#myImg5:hover {
  opacity: 0.7;
}

#myImg6:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 100vw;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 750px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 750px){
  .modal-content {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

#contact1{
  width: 80vw;
  flex-basis: 100vh;
  padding: 0 10vw;
  margin: 0;
}

#contact1 h2{
  text-align: center;
  font-family: "tahoma";
}

.contactme {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#myBtn {
  position: fixed;
  bottom: 7vh;
  right: 1vw;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 70px;
}

#myBtn a {
  text-decoration: none;
  color: white;
}

#myBtn:hover {
  background-color: #555;
}

footer {
  bottom: 0;
  padding: 0.1vw;
}

footer hr {
  border: none;
  border-top: 5px ridge rgb(235, 235, 235);
  overflow: visible;
  margin: 0%;
}

footer p  {
  color: #a39f9f;
  font-size: 18px;
  text-align: center;
  margin: 0;
  padding: 0;
}
